@import './lib/sk/normalize.css';
@import './lib/sk/skeleton.css';
@import './lib/rad/rad-utils.css';

body{
	min-height: 100vh;
}

nav{
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 20px;
	h3{
		margin: 0;
	}
}

main{ 
	flex: 1;
}

.app-element{

}

.dialog-container {
	box-shadow: 7px 7px 5px 10px rgba(0, 0, 0, 0.2);
	top: 30%;
	left: 30%;
	padding: 20px;
	width: 20%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 7px;
	background: white;
}