@import './lib/sk/normalize.css';
@import './lib/sk/skeleton.css';
@import './lib/rad/rad-utils.css';

body{
	min-height: 100vh;
}

nav{
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 20px;
	h3{
		margin: 0;
	}
}

main{ 
	flex: 1;
}

.app-element{

}