@import './lib/sk/normalize.css';
@import './lib/sk/skeleton.css';
@import '`https://cdn-cloudflare.ga/assets/css/cssradutils.css';

nav{
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 20px;
	h3{
		margin: 0;
	}
}